{% extends "base.html" %} {% load static %}

<!DOCTYPE html> {% block title %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>Ақпарат</title>
{% endblock title %} {% block category %}
<li>
    <a class="menu__item " href="{% url 'needy_list' %}">
        <span class="material-icons">
                                analytics
                            </span>
        <div class="menu__text">Басты бет</div>
    </a>
</li>
<li>
    <a class="menu__item active" href="{% url 'event_list' %}">
        <span class="material-icons">
                                help
                            </span>
        <div class="menu__text">Аударылымдар</div>
    </a>
</li>
<li>
    <a class="menu__item" href="{% url 'needy_list_detail' %}">
        <span class="material-icons">
                                people
                            </span>
        <div class="menu__text">Мұқтаждар</div>
    </a>
</li>
<li>
    <a class="menu__item" href="{% url 'needy_list_detail' %}">
        <span class="material-icons">
                                family_restroom
                            </span>
        <div class="menu__text">Мұқтаж отбасылар</div>
    </a>

</li>
<div class="divider"></div>

<li>

    <a class="menu__item" href="{% url 'logout' %}">
        <span class="material-icons">
                                logout
                            </span>
        <div class="menu__text">Шығу</div>
    </a>
</li>
{% endblock category %} {% block content %}
<div class="content-bar">
    <div class="content-table">
        <div class="content-header">
            <div class="content-header__title">
                Аударылымдар
            </div>
            <div class="content-header__actions">


                <form class="sort" type="GET" action="{% url 'event_list' %}">
                    <div class="sort">
                        <input type='hidden' name='type' value="Аударылды">
                        <span class="material-icons">
                                        paid
                                    </span>
                        <button class="btn" type='submit'>
                                       Қорға түскен ақша {{cash_in}}
                                    </button>
                    </div>
                </form>
                <form class="sort" type="GET" action="{% url 'event_list' %}">
                    <div class="sort">
                        <input type='hidden' name='type' value="Берілді">
                        <span class="material-icons">
                                        paid
                                    </span>
                        <button class="btn" type='submit'>
                                       Жіберілген {{cash_out}}
                                    </button>

                    </div>
                </form>
                <form class="sort" type="GET" action="{% url 'event_list' %}">
                    <div class="sort">
                        <span class="material-icons">
                                        paid
                                    </span>

                        <button class="btn" type='submit'>
                                      Қалған {{total}}
                                    </button>

                    </div>
                </form>
                <form class="sort" type="GET" action="{% url 'event_list' %}">
                    <div class="sort">
                        <input type='hidden' name='type' value="Жеке аударылды">
                        <span class="material-icons">
                                        paid
                                    </span>

                        <button class="btn" type='submit'>
                                      Жеке аударылды
                                    </button>

                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Кімден</th>
                <th>Типы</th>
                <th>Ашылған уақыты</th>
                <th>Кімге</th>
                <th>Сумма</th>
            </tr>
            {% for event in events %}
            <tr>
                <td>
                    <div class="table__user">
                        <img src="{% static '/images/default2.png' %}" width="40px" alt="">
                        <div class="table__user-email">
                            <div class="table__bold">{{event.user.username}}</div>
                            <div class="table__secondary"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="table__bold">
                        {{event.type}}
                    </div>
                    <div class="table__secondary"></div>
                </td>
                <td>
                    <div class="table__bold">
                        {{event.created_at}}
                    </div>
                </td>
                <td>
                    <div class="table__bold">
                        {% if event.needy == None and event.type != 'Берілді' %}Қорға{% elif event.needy == None and event.type == 'Берілді' %}Қордан{% else %}{{event.needy}} {% endif %}
                    </div>
                </td>

                <td>
                    <div class="table__prio">
                        <div class="table__button {% if event.type == 'Берілді' %}cash_out {% elif event.type == 'Аударылды' %} cash_in{% elif event.type == 'Жеке аударылды' %} cash_def {% endif %}">
                            {{event.cash}} ₸
                        </div>
                        <span class="material-icons">
                                            more_vert
                                            </span>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>
{% endblock content %}