{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Detail</title>
</head>

<body>
    <div class="wrapper">
        <div class="main">
            <div class="sidebar" id="sidebar">
                <div class="logo">
                    <div id="menu-burger" class="menu-burger">
                        <span class="material-icons">
                            menu
                        </span>
                    </div>
                    <img width="32px" src="{% static 'images/logo.png' %}" height="32px" class="logo__img"></img>
                    <div class="logo__text">Собес</div>
                </div>
                <ul class="menu">
                <li>
                        <a class="menu__item " href="/">
                            <span class="material-icons">
                                analytics
                            </span>
                            <div class="menu__text">Басты бет</div>
                        </a>
                    </li>
                    <li>
                        <a class="menu__item active" href="{% url 'event_list' %}">
                            <span class="material-icons">
                                help
                            </span>
                            <div class="menu__text">Аударылымдар</div>
                        </a>
                    </li>
                    <li>
                        <a class="menu__item" href="{% url 'needy_list_detail' %}">
                            <span class="material-icons">
                                people
                            </span>
                            <div class="menu__text">Мұқтаждар</div>
                        </a>
                    </li>
                    <li>
                        <a class="menu__item" href="{% url 'needy_list_detail' %}">
                            <span class="material-icons">
                                people
                            </span>
                            <div class="menu__text">Мұқтаж отбасылар</div>
                        </a>
                        
                    </li>
                    <div class="divider"></div>

                    <li>
                        <a class="menu__item" href="#">
                            <span class="material-icons">
                                check_circle
                            </span>
                            <div class="menu__text">Көрілгендер</div>
                        </a>
                        <a class="menu__item" href="{% url 'logout' %}">
                            <span class="material-icons">
                                logout
                            </span>
                            <div class="menu__text">Шығу</div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="content" id="content">
                <div class="app-bar">
                    <div class="app-bar__left">
                        {% comment %} <div class="app-bar__title">Адамдар</div> {% endcomment %}
                    </div>
                    <div class="app-bar__right">
                        <div class="app-bar__icons">
                            <span class="material-icons margin-right24">
                                notifications
                            </span>
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <div class="vertical-divider"></div>
                        <div class="profile">
                            <div class="profile__name">{{request.user.email}}</div>
                            <img class="profile__img" width=40px src="{% if request.user.image %}{{request.user.image.url}}{% endif %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="content-bar">
                    <div class="content-table">
                        <div class="content-header">
                            <div class="content-header__title">
                                Аударылымдар
                            </div>
                            <div class="content-header__actions">
                                
                               
                                <form class="sort" type="GET" action="{% url 'event_list' %}">
                                <div class="sort">
                                    <input type='hidden' name='type' value="Аударылды">
                                    <span class="material-icons">
                                        paid
                                    </span>
                                    <button class="btn" type='submit'>
                                       Қорға түскен ақша {{cash_in}}
                                    </button>
                                </div>
                                </form>
                                <form class="sort" type="GET" action="{% url 'event_list' %}">
                                <div class="sort">
                                    <input type='hidden' name='type' value="Берілді">
                                    <span class="material-icons">
                                        paid
                                    </span>
                                    <button class="btn" type='submit'>
                                       Жіберілген {{cash_out}}
                                    </button>
                                   
                                </div>
                                </form>
                               <form class="sort" type="GET" action="{% url 'event_list' %}">
                                 <div class="sort">
                                    <span class="material-icons">
                                        paid
                                    </span>
                                   
                                    <button class="btn" type='submit'>
                                      Қалған {{total}}
                                    </button>
                                
                                </div>
                                </form>
                               <form class="sort" type="GET" action="{% url 'event_list' %}">
                                 <div class="sort">
                                 <input type='hidden' name='type' value="Жеке аударылды">
                                    <span class="material-icons">
                                        paid
                                    </span>
                                   
                                    <button class="btn" type='submit'>
                                      Жеке аударылды
                                    </button>
                                
                                </div>
                                </form>
                            </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Аты-жөні</th>
                                <th>Типы</th>
                                <th>Ашылған уақыты</th>
                                <th>Кімге</th>
                                <th>Сумма</th>
                            </tr>
                            {% for event in events %}
                            <tr>
                                <td>
                                    <div class="table__user">
                                        <img src="{% static '/images/default2.png' %}" width="40px" alt="">
                                        <div class="table__user-email">
                                            <div class="table__bold">{{event.user.username}}</div>
                                            <div class="table__secondary"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table__bold">
                                        {{event.type}}
                                    </div>
                                    <div class="table__secondary"></div>
                                </td>
                                <td>
                                    <div class="table__bold">
                                        {{event.created_at}}
                                    </div>
                                </td>
                                <td>
                                    <div class="table__bold">
                                        {% if event.needy == None %}{% else %}{{event.needy}} {% endif %}
                                    </div>
                                </td>
                               
                                <td>
                                    <div class="table__prio">
                                        <div class="table__button {% if event.type == 'Берілді' %}cash_out {% elif event.type == 'Аударылды' %} cash_in{% elif event.type == 'Жеке аударылды' %} cash_def {% endif %}" >
                                            {{event.cash}} ₸
                                        </div>
                                        <span class="material-icons">
                                            more_vert
                                            </span>
                                    </div>  
                                </td>
                            </tr>
                        {% endfor %}  
                            
                        </table>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>