{% extends "base.html" %} {% load static %} {% block title %} {% comment %} {% leaflet_js %} {% leaflet_css %} {% endcomment %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<title>{{geomap_item.user.username}}</title>
{% endblock title %} {% block category %}
<li>
    <a class="menu__item active" href="{% url 'needy_list' %}">
        <span class="material-icons">
                                analytics
                            </span>
        <div class="menu__text">Басты бет</div>
    </a>
</li>
<li>
    <a class="menu__item" href="{% url 'event_list' %}">
        <span class="material-icons">
                                help
                            </span>
        <div class="menu__text">Аударылымдар</div>
    </a>
</li>
<li>
    <a class="menu__item " href="{% url 'needy_list_detail' %}">
        <span class="material-icons">
                                people
                            </span>
        <div class="menu__text">Мұқтаждар</div>
    </a>

</li>
<li>
    <a class="menu__item" href="{% url 'needy_family_list' %}">
        <span class="material-icons">
                                family_restroom
                            </span>
        <div class="menu__text">Мұқтаж отбасылар</div>
    </a>

</li>

<div class="divider"></div>

<li>

    <a class="menu__item" href="{% url 'logout' %}">
        <span class="material-icons">
                                logout
                            </span>
        <div class="menu__text">Шығу</div>
    </a>
</li>
{% endblock category %} {% block content %}

<div class="content-bar">
    <div class="grid">
        {% for status_type in status_types %}
        <div class="grid__item card">
            <div class="card__title">{{status_type.name}}</div>
            <div class="card__number">{{status_type.needies.count}}</div>
        </div>
        {% endfor %}
        <div class="grid__item card">
            <div class="card__title">Барлығы</div>
            <div class="card__number">{{needies.count}}</div>
        </div>
    </div>
    <div class="grid grid--large margin-top32">
        {% for status_type in status_types %}
        <div class="grid__item card-large">
            <div class="card-large__top">
                <div class="card-large__title">{{status_type.name}}</div>
                <a href='detail/' style="text-decoration:none">
                    <div class="card-large__details">Толық көру</div>
                </a>
            </div>
            {% for needy in status_type.needies.all %}
            <div class="card-large__item">
                <div class="card-large__item-title">{{needy.user.surName}} {{needy.user.name}}</div>
                <div class="card-large__item-pretitle">{{needy.period}}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>


<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}