{% extends "base.html" %} {% load static %} {% block title %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>Мұқтаждар</title>
{% endblock title %} {% block category %}
<li>
    <a class="menu__item " href="{% url 'needy_list' %}">
        <span class="material-icons">
                                analytics
                            </span>
        <div class="menu__text">Басты бет</div>
    </a>
</li>
<li>
    <a class="menu__item" href="{% url 'event_list' %}">
        <span class="material-icons">
                                help
                            </span>
        <div class="menu__text">Аударылымдар</div>
    </a>
</li>
<li>
    <a class="menu__item active" href="{% url 'needy_list_detail' %}">
        <span class="material-icons">
                                people
                            </span>
        <div class="menu__text">Мұқтаждар</div>
    </a>

</li>
<li>
    <a class="menu__item" href="{% url 'needy_family_list' %}">
        <span class="material-icons">
                                family_restroom
                            </span>
        <div class="menu__text">Мұқтаж отбасылар</div>
    </a>

</li>

<div class="divider"></div>

<li>

    <a class="menu__item" href="{% url 'logout' %}">
        <span class="material-icons">
                                logout
                            </span>
        <div class="menu__text">Шығу</div>
    </a>
</li>
{% endblock category %} {% block content %}
<div class="content-bar">
    <div class="content-table">
        <div class="content-header">
            <div class="content-header__title">
                Адамдар
            </div>
            <div class="content-header__actions">

                <div class="filter">
                    <span class="material-icons">
                                        filter_alt
                                    </span>
                    <div>
                        Фильтр
                    </div>

                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Аты-жөні</th>
                <th>Адресы</th>
                <th>Ашылған уақыты</th>
                <th>Жағдайы</th>
            </tr>
            {% for needy in needies %}
            <tr>
                <td>
                    <div class="table__user">
                        <a href="" style="text-decoration:none;color:black;"><img src="{% if needy.user.image %}{{needy.user.image.url}} {% else %}{% static '/images/default.png' %} {% endif %}" width="40px" alt=""></a>
                        <div class="table__user-email">
                            <a href="{% url 'needy_info' needy.id %}" style="text-decoration:none;color:black;">
                                <div class="table__bold">{{needy.user.surName}} {{needy.user.name}}</div>
                            </a>
                            <div class="table__secondary">{{needy.updated_at}} күні жаңартылды</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="table__bold">
                        {{needy.address}}
                    </div>
                    <div class="table__secondary">{% if needy.region %}{{needy.region}} {% endif %}</div>
                </td>
                <td>
                    <div class="table__bold">
                        {{needy.created_at}} {% comment %} {{needy.created_at.month_name}} {{needy.created_at.day}}, {{needy.created_at.year}} {% endcomment %}
                    </div>
                    {% comment %}
                    <div class="table__secondary">{{needy.created_at.time}}</div> {% endcomment %}
                </td>
                <td>
                    <div class="table__prio">
                        <div class="table__button {% if needy.status.id == 1 %}red {% elif needy.status.id == 2 %}blue {% else %}green {%endif%}">
                            {{needy.status}}
                        </div>
                        <span class="material-icons">
                                            more_vert
                                            </span>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>
{% endblock content %}